@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{  
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
   
    grid-template-areas:
    "grid1 grid1 grid1 navi-section navi-section"
    "grid1 grid1 grid1 grid4 grid4"
    "grid2 grid2 grid2 grid2 grid2"
    "grid5 grid6 grid7 grid8 grid9";
    height: 200vh;
    margin: 0;
}

.grid1{
    grid-area: grid1;
   background: url('images/for.jpg') no-repeat;
   background-size: cover;
  
 
}
.grid1 .head-content1{
    display: flex;
}

.grid1 .head1{
    flex: 1;
     padding: 100px 15%;        
}
.grid1 .text-content1{
    display: flex;
}

.grid1 .text1{
    text-align: justify;
    flex: 1;
    padding: 30px 15%;     
}

.account{
    display: flex;
    gap: 1em;
    padding: 30px 10%
}

.account .btn-sign{
flex: 1;
padding: 1em;
text-align: center;

color: white;
background: #151420;
border-radius: 10px;
}

.account .btn-signup{
flex: 1;
padding: 1em;
text-align: center;
color: white;
background: #151420;
border-radius: 10px;
}

navi-section{
    grid-area: navi-section;
    font-weight: 500px;
    font-size: 16px;
    background: #c0c7c2;
}

navi-section > ul{
    overflow: hidden;
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15%;
    list-style: none;
}

.navi a{
    text-decoration: none;
    list-style: none;
    color: black;
}




.grid2{
    grid-area:  grid2;
    background: #fefdf3;
}

.grid4{
    grid-area:  grid4;
    background: #c0c7c2;
}

.grid5{
    grid-area:  grid5;
    background: #2c2a50;
}

.grid6{
    grid-area:  grid6;
    background: #2c2a50;
}

.grid7{
    grid-area:  grid7;
    background: #2c2a50;
}

.grid8{
    grid-area:  grid8;
    background: #2c2a50;
}

.grid9{
    grid-area:  grid9;
    background:#2c2a50;
}
